{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgot_password.css' %}">

</head>
<body align="center">

    <h1>Reset Password</h1>
        <p>{{message}}</p><br>
        <p>Click below if you didn't receive any OTP</p>
        <a href="/generate_otp/reset/"><button type="button">Regenerate</button></a><br><br>
    <form method="post" action="{% url 'reset_password_forgot_password' %}">
        
        {% csrf_token %}
        <label for=" OTP ">OTP:*</label>
        <input type="otp" id="otp" name="otp"><br>
        
        <label for=" New password">Password:*</label>
        <input type="password" id="password" name="password" required><br>
        
        <label for="confirm_password">Confirm Password:*</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>