{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

</head>
<body align="center">
    <h1>Signup</h1>
    <form method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <h3>{{message}}</h3><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>

        <label for="full_name">Full name:</label>
        <input type="text" name="full_name" required><br><br>

        <label for="phone">Phone:</label>
        <input type="tel" name="phone" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Signup</button>
    </form>
    <p>Or <a href="/login/">login</a></p>
</body>
</html>