<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate OTP</title>
</head>
<body align="center">
    <h1>Generate OTP for password reset</h1>
    <form method="post" action="{% url 'forgoten_password' %}">
        {% csrf_token %}
        <p>{{message}}</p>

        <label for="email">Please enter your Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <a href="/generate_otp/reset/"><button type="submit">GENERATE OTP</button></a>
    </form>
</body>
</html>