{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset_password.css' %}">

</head>
<body align="center">
    
    <h1>Reset Password</h1>
    <p>{{message}}</p><br>
    
    <form method="post" action="{% url 'reset_password_logged_in' %}">
        {% csrf_token %}
        
        <label for=" Previous password">Previous Password:*</label>
        <input type="password" id="previous_password" name="previous_password" required><br>
        
        <label for=" New password">Password:*</label>
        <input type="password" id="password" name="password" required><br>
        
        <label for="confirm_password">Confirm Password:*</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>