<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<body align="center">
    <h1>OTP Verification</h1>
    <form method="POST" action="{% url 'verify_otp' %}">
        {% csrf_token %}
        <p>{{ message }}</p><br>

        <h2> Enter OTP </h2>
        <label for="otp">OTP:</label>
        <input type="text" name="otp" required><br><br>
        
        <button type="submit">Verify OTP</button>

        <a href ='/generate_otp/verify/'> Regenerate OTP?</a>
</body>
</html>
