<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Regenerate OTP </title>
</head>
<body>
    <h1>OTP for password reset</h1>
        {% csrf_token %}
        <p>{{ message }}</p><br>

        <a href ='/regenerate_ornate_af_otp/'> <button> Regenerate OTP </button> </a>
        {% comment %} <a href="{% url 'reset_password' purpose='forgot_password' %}">Reset Password (Forgot Password)</a> {% endcomment %}
</body>
</html>
